<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Berkan Karayel Site</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/TEMA/holamaster/css/base.css">
    <link rel="stylesheet" href="/TEMA/holamaster/css/vendor.css">
    <link rel="stylesheet" href="/TEMA/holamaster/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/TEMA/holamaster/js/modernizr.js"></script>
    <script src="/TEMA/holamaster/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="~/TEMA/holamaster/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/TEMA/holamaster/favicon.ico" type="image/x-icon">

</head>